server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:

        - id: booking-service-api-route
          uri: lb://booking-service
          predicates:

            - Path=/api/booking,/api/booking/**,/api/bookings,/api/bookings/**,/api/user/**

        - id: hotel-service-api-route
          uri: lb://hotel-service
          predicates:
            - Path=/api/hotels/**,/api/rooms,/api/rooms/recommend,/api/rooms/*


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
